.fxmarkets {
  background: #333;
  height: 600px; }
  @media screen and (max-width: 991px) {
    .fxmarkets {
      height: 750px; } }
  .fxmarkets .title {
    text-align: center; }
    .fxmarkets .title h1 {
      display: inline-block;
      width: 280px;
      font-size: 24px;
      font-weight: 400;
      margin: 70px 0;
      color: #fff; }
      @media screen and (max-width: 767px) {
        .fxmarkets .title h1 {
          width: 260px;
          font-size: 22px; } }
  .fxmarkets .picture-col {
    text-align: center;
    padding: 0; }
    .fxmarkets .picture-col img {
      width: 90px;
      height: 79px;
      margin-top: 30px; }
    .fxmarkets .picture-col h3 {
      margin: 0;
      width: 130px;
      font-size: 14px;
      font-weight: 300;
      margin-top: 20px;
      display: inline-block;
      color: #fff; }

.superior-trading {
  background: #4d4d4d; }
  @media screen and (max-width: 991px) {
    .superior-trading .left-column {
      text-align: center; } }
  .superior-trading .left-column h1 {
    margin-left: 30px;
    margin-top: 140px;
    color: #fff;
    font-size: 24px;
    font-weight: 400; }
    @media screen and (max-width: 991px) {
      .superior-trading .left-column h1 {
        margin-left: auto;
        text-align: center;
        margin-top: 100px; } }
  .superior-trading .left-column p {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 140px;
    color: #fff;
    font-weight: 400;
    width: 300px; }
    @media screen and (max-width: 991px) {
      .superior-trading .left-column p {
        width: auto;
        text-align: center;
        margin-left: auto;
        margin-bottom: 100px; } }
  .superior-trading .right-column .right-column-row-column {
    padding: 0;
    margin: 0; }
    .superior-trading .right-column .right-column-row-column h1:first-of-type {
      margin-top: 143px; }
      @media screen and (max-width: 991px) {
        .superior-trading .right-column .right-column-row-column h1:first-of-type {
          margin-top: 53px; } }
      @media screen and (max-width: 576px) {
        .superior-trading .right-column .right-column-row-column h1:first-of-type {
          margin-top: 58px; } }
      @media screen and (max-width: 400px) {
        .superior-trading .right-column .right-column-row-column h1:first-of-type {
          margin-top: 60px; } }
    .superior-trading .right-column .right-column-row-column h1 {
      color: #fff;
      font-size: 15px;
      width: 70%;
      font-weight: 500;
      margin-left: 30%;
      margin-top: 63px; }
      @media screen and (max-width: 576px) {
        .superior-trading .right-column .right-column-row-column h1 {
          font-size: 13px;
          width: 80%;
          margin-left: 20%; } }
      @media screen and (max-width: 576px) {
        .superior-trading .right-column .right-column-row-column h1 {
          margin-top: 61px; } }
      @media screen and (max-width: 400px) {
        .superior-trading .right-column .right-column-row-column h1 {
          margin-top: 64px;
          font-size: 12px;
          font-weight: lighter;
          width: 74%;
          margin-left: 26%; } }
  .superior-trading .right-column .icons-column {
    display: inline-block;
    width: 60px;
    height: 410px;
    margin-left: 0;
    background: #dbdbdb;
    float: left; }
    @media screen and (max-width: 991px) {
      .superior-trading .right-column .icons-column {
        width: 50px;
        height: 300px; } }
    @media screen and (max-width: 576px) {
      .superior-trading .right-column .icons-column {
        width: 30px;
        height: 300px; } }
    .superior-trading .right-column .icons-column img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 25px;
      height: 25px; }
      @media screen and (max-width: 576px) {
        .superior-trading .right-column .icons-column img {
          width: 20px;
          height: 20px; } }
    .superior-trading .right-column .icons-column img:first-child {
      margin-top: 140px; }
      @media screen and (max-width: 991px) {
        .superior-trading .right-column .icons-column img:first-child {
          margin-top: 50px; } }
      @media screen and (max-width: 576px) {
        .superior-trading .right-column .icons-column img:first-child {
          margin-top: 57px; } }
    .superior-trading .right-column .icons-column img:not(:first-child) {
      margin-top: 60px; }

.multiple-platforms .main-row {
  position: relative; }
.multiple-platforms .picture-col {
  background: url(../../images/home/platforms.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100vh; }
  .multiple-platforms .picture-col .row {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    margin-top: 100px; }
  .multiple-platforms .picture-col .text-col h3 {
    color: #fff;
    width: 80%; }
  .multiple-platforms .picture-col .text-col p {
    color: #fff;
    width: 80%;
    font-size: 16px; }
  .multiple-platforms .picture-col .icons-col {
    margin-top: 15px;
    text-align: center; }
    .multiple-platforms .picture-col .icons-col .platform-container {
      display: inline-block; }
    .multiple-platforms .picture-col .icons-col .platform-icon {
      width: 66px;
      height: 66px;
      border-radius: 33px;
      border: 2px solid #fff;
      float: left;
      margin: 0;
      padding: 0; }
      .multiple-platforms .picture-col .icons-col .platform-icon:hover {
        width: 80px;
        height: 80px;
        background: #999;
        border-radius: 40px;
        margin-top: -7px;
        cursor: pointer; }
        .multiple-platforms .picture-col .icons-col .platform-icon:hover img {
          margin-top: 15px;
          width: 37px;
          height: 45px; }
      .multiple-platforms .picture-col .icons-col .platform-icon img {
        margin-top: 12px;
        width: 33px;
        height: 40px; }
    .multiple-platforms .picture-col .icons-col .platform-line {
      margin: 0;
      width: 66px;
      height: 34px;
      border-bottom: 2px solid #fff;
      float: left; }
.multiple-platforms .accounts-col {
  position: absolute;
  top: 62%;
  left: 0;
  padding-right: 80px; }
.multiple-platforms .account-card {
  box-shadow: 0px 5px 3px -3px #eee;
  border: 2px solid #eee;
  background: #fff; }
  .multiple-platforms .account-card .account-banner {
    height: 50px;
    background: #333;
    position: relative; }
    .multiple-platforms .account-card .account-banner:after {
      content: "";
      position: absolute;
      display: inline-block;
      border-top: 30px solid #333;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      left: calc(50% - 30px);
      top: 100%;
      z-index: 1; }
  .multiple-platforms .account-card .account-type {
    background: #fff;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #eee; }
    .multiple-platforms .account-card .account-type h1 {
      font-size: 40px;
      color: #666;
      margin: 0;
      margin-top: 20px; }
    .multiple-platforms .account-card .account-type h2 {
      font-size: 50px;
      color: #666;
      margin: 0; }
  .multiple-platforms .account-card .account-details p {
    font-size: 16px;
    color: #333; }
  .multiple-platforms .account-card .account-register {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px; }
    .multiple-platforms .account-card .account-register .register-btn {
      display: block;
      margin: auto;
      width: 70%;
      height: 35px;
      background: transparent;
      border: 1px solid #333;
      font-size: 22px;
      color: #333;
      border: 1px solid #333;
      text-decoration: none; }
      .multiple-platforms .account-card .account-register .register-btn:hover {
        text-decoration: none;
        cursor: pointer;
        background: #eee; }

.bank-logos {
  margin-top: 550px; }
  .bank-logos div {
    text-align: center; }

.footer {
  background: #4d4d4d; }
  .footer div {
    text-align: center; }
  .footer p {
    color: #fff;
    font-size: 16px;
    text-align: left; }
  .footer .footer-logo {
    margin-top: 50px; }
  .footer .footer-first {
    padding-top: 45px;
    padding-bottom: 5px;
    border-bottom: 3px solid #e5bc0a; }
  .footer .footer-second {
    padding-bottom: 50px; }

/*# sourceMappingURL=styles.css.map */
