@import "variables";
@import "mixins";

* {
	//border: 1px solid red;
}

.fxmarkets-container {
	width: 100%;
	padding: 0;
	margin:0;
}
.fxmarkets {

	background: #333;
	height: 600px;
	width:100%;
	padding: 0;
	margin: 0;
	@include maxMQ($md-max-width) {
		height: 750px;
	}

	

		.title {

			text-align: center;

			h1 {
				display: inline-block;
				width: 280px;
				font-size: 24px;
				font-weight: 400;
				margin: 70px 0;
				color: #fff;
				@include maxMQ($sm-max-width) {
					width: 260px;
					font-size: 22px;
				}
			}
		}

		.picture-col {
			text-align: center;
			padding: 0;

			img {
				width: 90px;
				height: 79px;
				margin-top: 30px;
			}

			h3 {
				margin: 0;
				width: 130px;
				font-size: 14px;
				font-weight: 300;
				margin-top: 20px;
				display: inline-block;
				color: #fff;
			}
		}
}

.superior-trading {
	background: $footer-dark-grey;
	height: 480px;

	@include maxMQ($md-max-width) {
		height: 700px;
	}

	width: 100%;
	margin: 0;
	padding: 0;

	.main-row {
		height: 100%;
	}

	.left-column {

		height: 100%;
		

		@include maxMQ($md-max-width) {
			height: 50%;
			text-align: center;
		}

		h1 {
			margin-left: 40px;
			margin-right: 60px;
			margin-top: 160px;
			color: #fff;
			font-size: 24px;
			font-weight: 400;
			display: inline-block;

			@include maxMQ($md-max-width) {
				display: inline-block;
				margin-right: auto;
				margin-left: auto;
				margin-top: 100px;
				text-align: center;
			}
			
		}

		p {
			margin-left: 40px;
			margin-right: 60px;
			margin-top: 5px;
			color: #fff;
			font-weight: 400;

			@include maxMQ($md-max-width) {
				text-align: center;
				margin-left: 50px;
				margin-right: 50px;
			}
		}
		
	}

	.right-column {

		height: 100%;

		@include maxMQ($md-max-width) {
			height: 50%;
		}

		

		.right-column-row {
			height: 100%;

			
		}

		.right-column-row-column {
			height: 100%;
			padding: 0;
			margin:0;

			h1:first-of-type {
				margin-top: 157px;

				@include maxMQ($md-max-width) {
					margin-top: 52px;
				}
			}

			h1	{
				color: #fff;
				font-size: 15px;
				width:70%;
				font-weight: 500;
				margin-left: 30%;
				margin-top: 63px;
			}

			
		}

		

		.icons-column {
			display: inline-block;
			width: 60px;
			height: 100%;
			margin-left: 0;
			background: $superior-trading-light-grey;
			float: left;
			@include maxMQ($md-max-width) {
				width: 50px;
			}

			img {
				margin-left: auto;
				margin-right: auto;
				display: block;
				width: 25px;
				height: 25px;
			}

			img:first-child {
				margin-top: 155px;

				@include maxMQ($md-max-width) {
					margin-top: 48px;;
				}
			}

			img:not(:first-child) {
				margin-top: 60px;
			}

			
		}

	}
}









