.fxmarkets-container {
  width: 100%;
  padding: 0;
  margin: 0; }

.fxmarkets {
  background: #333;
  height: 600px;
  width: 100%;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 991px) {
    .fxmarkets {
      height: 750px; } }
  .fxmarkets .title {
    text-align: center; }
    .fxmarkets .title h1 {
      display: inline-block;
      width: 280px;
      font-size: 24px;
      font-weight: 400;
      margin: 70px 0;
      color: #fff; }
      @media screen and (max-width: 767px) {
        .fxmarkets .title h1 {
          width: 260px;
          font-size: 22px; } }
  .fxmarkets .picture-col {
    text-align: center;
    padding: 0; }
    .fxmarkets .picture-col img {
      width: 90px;
      height: 79px;
      margin-top: 30px; }
    .fxmarkets .picture-col h3 {
      margin: 0;
      width: 130px;
      font-size: 14px;
      font-weight: 300;
      margin-top: 20px;
      display: inline-block;
      color: #fff; }

.superior-trading {
  background: #4d4d4d;
  height: 480px;
  width: 100%;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 991px) {
    .superior-trading {
      height: 700px; } }
  .superior-trading .main-row {
    height: 100%; }
  .superior-trading .left-column {
    height: 100%; }
    @media screen and (max-width: 991px) {
      .superior-trading .left-column {
        height: 50%;
        text-align: center; } }
    .superior-trading .left-column h1 {
      margin-left: 40px;
      margin-right: 60px;
      margin-top: 160px;
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      display: inline-block; }
      @media screen and (max-width: 991px) {
        .superior-trading .left-column h1 {
          display: inline-block;
          margin-right: auto;
          margin-left: auto;
          margin-top: 100px;
          text-align: center; } }
    .superior-trading .left-column p {
      margin-left: 40px;
      margin-right: 60px;
      margin-top: 5px;
      color: #fff;
      font-weight: 400; }
      @media screen and (max-width: 991px) {
        .superior-trading .left-column p {
          text-align: center;
          margin-left: 50px;
          margin-right: 50px; } }
  .superior-trading .right-column {
    height: 100%; }
    @media screen and (max-width: 991px) {
      .superior-trading .right-column {
        height: 50%; } }
    .superior-trading .right-column .right-column-row {
      height: 100%; }
    .superior-trading .right-column .right-column-row-column {
      height: 100%;
      padding: 0;
      margin: 0; }
      .superior-trading .right-column .right-column-row-column h1:first-of-type {
        margin-top: 157px; }
        @media screen and (max-width: 991px) {
          .superior-trading .right-column .right-column-row-column h1:first-of-type {
            margin-top: 52px; } }
      .superior-trading .right-column .right-column-row-column h1 {
        color: #fff;
        font-size: 15px;
        width: 70%;
        font-weight: 500;
        margin-left: 30%;
        margin-top: 63px; }
    .superior-trading .right-column .icons-column {
      display: inline-block;
      width: 60px;
      height: 100%;
      margin-left: 0;
      background: #dbdbdb;
      float: left; }
      @media screen and (max-width: 991px) {
        .superior-trading .right-column .icons-column {
          width: 50px; } }
      .superior-trading .right-column .icons-column img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 25px;
        height: 25px; }
      .superior-trading .right-column .icons-column img:first-child {
        margin-top: 155px; }
        @media screen and (max-width: 991px) {
          .superior-trading .right-column .icons-column img:first-child {
            margin-top: 48px; } }
      .superior-trading .right-column .icons-column img:not(:first-child) {
        margin-top: 60px; }

/*# sourceMappingURL=styles.css.map */
